<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    Ugljara 202b
                    <br />
                    <a href="https://maps.app.goo.gl/CLz4ryMUhNq8JXp1A" target="_blank" class="city-link-footer">Orašje, Bosnia and Herzegovina</a>
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.facebook.com/zkrnjic1"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://github.com/zeljko94"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.linkedin.com/in/zeljko-krnjic94"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <!-- <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="#!"><i class="fab fa-fw fa-dribbble"></i></a> -->
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Contact info</h4>
                <p class="lead mb-0">
                    zeljkokrnjic94@gmail.com
                    <br />
                    +387 63 573 001
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Željko Krnjić {{currentYear}}</small></div>
</div>