<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    Hello and welcome to my portfolio page!

                    I'm Željko Krnjić, a passionate and seasoned software engineer with a Master's Degree in Computer Science.  I was born in Vinkovci, Republic of Croatia in 1994. With over seven years of experience in the field, I've honed my expertise in a wide range of technologies, making me a versatile and adaptable professional.
                    
                    My journey in software engineering has been marked by a deep love for coding and a commitment to excellence. I thrive in collaborative team environments and have a track record of seamlessly adapting to new project requirements, technologies, and team dynamics. I take pride in mentoring junior developers, providing guidance, and watching them grow within the team.
                    
                    My technical skill set encompasses an array of programming languages, including JavaScript, C#, Java, PHP, Python, C++ and more. I have a strong proficiency in .NET Core, Angular, and a variety of other frameworks and tools. I'm passionate about creating innovative solutions and delivering top-notch applications that meet client specifications.
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">
                    My experience has taken me on a journey through various projects, from developing content management systems to pioneering interactive web applications for complex projects like waterway management. I've also had the privilege of working on applications for financial agencies and governmental bodies.

                    In addition to my technical skills, I'm multilingual, fluent in English (C1) and proficient in German (B2), which has been a valuable asset in my work with international teams and clients.

                    Outside of my professional life, I'm an avid learner and a believer in continuous growth. I embrace challenges and thrive on expanding my horizons, both personally and professionally.

                    I look forward to connecting with like-minded professionals, sharing experiences, and exploring potential opportunities to collaborate and contribute to exciting projects. Feel free to reach out to me if you share my passion for software engineering or if you'd like to connect and explore ways we can work together.

                    Let's connect, collaborate, and innovate!
                </p>
            </div>
        </div>
    </div>
</section>